canvas {
	width: 70%;
	height: auto;
}

p {font-family: 'Arima Madurai', cursive;
font-size: 1.5em;
margin-left: 10px;
margin-bottom: -5px;}

body {margin: 10px;}


#canvas {
	position: relative;
	height: 720;
	width: 1270;
	
}
#apple {
	position: absolute;
	height: 3vw;
	width: 3vw;
	top: 44%;
	left: 18%;
	opacity: 0;
	background-color: red;
	
}

#pear {
	position: absolute;
	height: 3vw;
	width: 3vw;
	top: 85%;
	left: 13.5%;
	opacity: 0;
	background-color: yellow;

	
}

#isaac {
	position: absolute;
	height: 9.5vw;
	width: 4vw;
	top: 66%;
	left: 16.7%;
	opacity: 0;
	background-color: 	#39e600;
	
}


#bottle {
	position: absolute;
	height: 2.8vw;
	width: 4.2vw;
	top: 84%;
	left: 24.5%;
		opacity: 0;
	background-color: #00e6e6;

}

#house {
	position: absolute;
	height: 4.7vw;
	width: 4.5vw;
	top: 57.5%;
	left: 57%;
	opacity: 0.5;
	background-color: 	#e67300;
}

#moon{
	position: absolute;
	height: 6.8vw;
	width: 6.8vw;
	top: 5%;
	left: 57.5%;
	opacity: 0.5;
	background-color: 		#e600e6;
}