/* Aufgabe: 3*/ 

/* 	Name: Natalie Düll
	Matrikel: 256026
	Datum: 27.10.2017
	Hiermit versichere ich, dass ich diesen
	Code selbst geschrieben habe. Er wurde
	nicht kopiert und auch nicht diktiert.*/
	
canvas{
width: 100%;
}

@media screen and (min-width: 800px){
	canvas{
	width: 800px;
	}
}