legend {
	font-size: 1.2em;
}

fieldset {
	color: #ff8000;
	width: 50%;
	margin-top: 0.2em;
	font-family: 'Arima Madurai', cursive;
}


p { color: black;
font-family: 'Arima Madurai', cursive;}

h2, h1  {font-family: 'Arima Madurai', cursive;}

.h {
	background-color: #e0b16c;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.h:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


